

a {
    text-align: left;
    text-decoration: none;
    /* Quita la línea de abajo del enlace */
    color: #771212;
    /* Color inicial del texto */
    transition: color 0.3s ease;
    /* Agrega una transición de color suave al enlace */
    font-size: 25px;
    /* Tamaño de fuente, ajusta según tus preferencias */
    font-weight: bold;
}

a:hover {
    color: #d36666;
    /* Cambia el color del texto al pasar el cursor sobre el enlace */
}